<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
      content="SU is One of the top s10 universities in design.">
<link rel="stylesheet"
      href="style/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet"
      href="style/bootstrap-3.3.7/dist/css/bootstrap.min.css">
<script
  src="style/js/jquery-3.3.1.min.js"></script>
<script
  src="style/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<link href="style/css/header.css" rel="stylesheet">
<link href="style/css/body.css" rel="stylesheet">
<link href="style/css/footer.css" rel="stylesheet">
<style>
  @font-face {
    font-family: "Open Sans";
    src: url("Font/OpenSans-Regular.ttf");
  }
  @font-face {
    font-family: "Open Sans SemiBold";
    src: url("Font/OpenSans-Semibold.ttf");
  }
  @font-face {
    font-family: "Open Sans Bold";
    src: url("Font/OpenSans-Bold.ttf");
  }
  @font-face {
    font-family: "Open Sans ExtraBold";
    src: url("Font/OpenSans-ExtraBold.ttf");
  }
  @font-face {
    font-family: "TrajanPro";
    src: url("Font/TrajanPro-Bold.otf");
  }
  @font-face {
    font-family: "Raleway Bold";
    src: url("Font/Raleway-Bold.ttf");
  }
</style>
<script src="style/js/script.js"></script>
<script src="style/js/jquery.matchHeight.js"></script>
<script src="style/js/jquery.validate.js"></script>
        
        
